


.appBarSearch{
    border-radius: 4px !important;
    margin-bottom: 1rem !important;
    display: flex !important;
    padding: 16px !important;
    margin-left:25px !important;
}
.pagination{
    border-radius: 4px !important;
    margin-top: 1rem !important;
    padding:16px !important;
    margin-left:25px !important;
    white-space: nowrap !important;
}

