.paper{
    display:flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 15px !important;
}
.form{
    width:100% !important;
    margin-top: 10px !important;
}
.avatar{
    background-color: palevioletred !important;
    
}
.submit-btn{
    margin-top:15px !important;
}
.no-account{
    font-size: 12px !important;
}